.comment {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("");
  background-size: cover;
  height: auto;
}

.commentTitle {
  font-size: 50px;
}

.commentFormGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.commentForm > label {
  margin: 10px 0;
}

.commentInput {
  padding: 10px;
  background-color: white;

  border-radius: 5px;
}

.commentButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
